$primaryColor: #99f7f2;
$primaryFont: "Inconsolata", monospace;

@mixin flexCenter () {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include flexCenter();
  background-color: $primaryColor;
}

button{
  &:hover {
    background: rgb(0, 177, 216);
  }
input {
  margin: 3px;
}
}

